:root {
    --padding: 1rem 2rem;
}
.header {
    display: flex;
    flex-direction: column;
    
    background-color: var(--colorPrimaryBackground);
    position: fixed;
    width: 100%;
    padding: var(--padding);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 100;
    font-size: 0.75rem;
    font-weight: 300;
}
.homenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    margin: 0 10px;
}
.menuIcon {
    display: none
}

@media (width <= 425px) {
    .menuIcon{
        display: block
    }
    .link {
        display: none
    }
    .header {
        font-size: 1.2rem;
    }
}