.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 100;
    height: 100vh;  

    text-align: center;
    background-color: var(--colorPrimary);
}
.item {
    font-size: 2rem;
}