.fieldset {
    border: none;
}
.general {
    display: block;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: var(--colorText);
}

.input {
    composes: general;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 23rem;
    margin: 0.8rem 0;
}
.submit {
    composes: general;
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.textarea {
    composes: input;
    min-height: 8rem;
}