.fieldset {
    border: none;
}

.input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    min-width: 23rem;
    font-size: 0.8rem;
    color: var(--colorText);
    margin: 0.8rem 0;
}

.textarea {
    /*commented because it conflict with stylint, fix it later*/
    /*composes: input;*/
    min-height: 8em;
}