.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 1rem 2rem;
  padding: 1rem;
}

.hero {
  max-width: 100%;
  max-height: 25rem;
  & img {
    width: 100%;
    object-fit: cover;
  }
}

.title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  /* align-self: center; */
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
